*{

    padding: 0%;
    margin: 0%;
}

.cabecalho{
    background: mediumvioletred;
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 22px;
    
}

.bolo{

    height: 20px;
    width: 20px;
}


.container{

display: flex;
height: 800px;

}

.filho1{
    background: #f2d0e0;
    width: 20%;
    
}

.img{
    height: 20px;
    width: 20px;

}

.filho2{
    background: #f2d0e0;
    width: 5%;
}

.seta{

    height: 20px;
    width: 20px;
}

.filho3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    

}

.bolo2{

    height: 220px;
   
}

.card{
    margin: 10px auto;
    border: 1px solid darkgray;
    text-shadow: darkgray;
    text-align: center;
    padding: 10px;
    height: 300px;
    width: 250px;
   
}

.p{
    text-align: center;
    font-weight: bold;
}

.rodape{
    background: mediumvioletred;
    text-align: center;
    height: 20px;
    padding: 22px;

}

